body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
    display: flex; /* Enable flexbox layout */

}


.login-form {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    max-width: 300px; /* Optional: controls form width */
    margin: 0 auto; /* Center the form horizontally */
}

.login-form label {
    margin-bottom: 5px; /* Adds space below the label */
    font-weight: bold;
}

.login-form button {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    margin: 0 auto; /* Center the form horizontally */
}

.sign-up-form {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    max-width: 300px; /* Optional: controls form width */
    margin: 0 auto; /* Center the form horizontally */
}

.sign-up-form label {
    margin-bottom: 5px; /* Adds space below the label */
    font-weight: bold;
}

.sign-up-form button {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    margin: 0 auto; /* Center the form horizontally */
}

.arrow-keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}

canvas {
    border: 1px solid black;
    margin: 20px;
    max-width: 450px;
}

#gameCanvas {
    flex-grow: 1;
}

.sidebar {
    flex-direction: row;
    width: 300px;

}

.arrow-key {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #333;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    background-color: #f9f9f9;
    transition: background-color 0.2s, color 0.2s;
}

.arrow-key.active {
    background-color: #007BFF;
    color: #fff;
}